*.log
*.tmp
.DS_Store
node_modules/
dist/
build/
.env
*.swp
*~
.idea/
.vscode/
*.class
*.jar
*.war
*.ear
*.db
*.sql
*.sqlite
*.mdb
bin/
target/
out/
*.iml
*.history/
*.bak
sessions/
*.pyc
__pycache__/
*.rbc
coverage/
.rspec
*.sass-cache
*.gem
config/*.json
config/*.yml
*.sublime-*
*.sw?
*.lock
*.dmg
*.exe
*.msi
*.deb
*.pkg
*.app
*.iso
*.tar.gz
*.zip
*.rar
*.7z
*.gz
*.bzip
*.tar.xz
*.pdf
*.docx
*.pptx
*.xlsx
*.epub
*.ods
*.odt
*.csv
*.ini
*.json
*.html
*.css
*.js
*.ejs
*.php
*.asp
*.aspx
*.jsp
*.c
*.cpp
*.h
*.java
*.py
*.rb
*.sh
*.command
*.bat
*.vbs
*.go
*.swift
*.r
*.pl
*.sql
*.xml
*.yml
*.yaml
*.md
*.txt
